POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=readme
PGADMIN_DEFAULT_EMAIL=skudinva@yandex.ru
PGADMIN_DEFAULT_PASSWORD=123456
DATABASE_URL=postgres://admin:123456@localhost:5432/readme
PORT=3002
RABBIT_HOST=localhost
RABBIT_PASSWORD=test
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_QUEUE=readme.notify.income
RABBIT_EXCHANGE=readme.notify
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=test
